.canvas {
  position: relative;
  background-image: url("/img/canvas.png");
  background-size: cover;
  width: 440px;
  height: 240px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.canvas-item {
  position: absolute;
  height: 100%;
  width: auto;
  user-drag: none;
  -webkit-user-drag: none;

  &.selected {
    outline: 2px solid #ff7b00;
  }

  &:hover {
    outline: 2px solid #0c8ce9;
  }

  &.face {
    height: 30px;
  }
}

.hidden {
  display: none;
}

.resize-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: #0c8ce9;
  cursor: se-resize;
  z-index: 10;
}
