.canvas {
  position: relative;
  background-image: url("/img/canvas.png");
  background-size: cover;
  width: 440px;
  height: 240px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.canvas-item {
  height: 100%;
  width: auto;
}

.hidden {
  display: none;
}
