.palette-drop-down-container {
  position: absolute;
}

.palette-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
}

.palette-container {
  position: absolute;
  top: -64px;
  left: 0;
}

.palette-dropdown {
  position: relative;
  width: 200px;
  height: fit-content;
  background-color: white;
  border: 4px solid white;
  border-radius: 15px;
  z-index: 1;
}

.palette-trigger {
  height: 54px;
  cursor: pointer;
}

.palette-option {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.input-color-palette {
  position: absolute;
  right: 36px;
  top: 0;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

.palette-icon {
  width: 54px;
  height: 54px;
}
