@import "./reset.css";
@import "./text.css";
@import "./header.css";
@import "./main.css";
@import "./avata.css";
@import "./canvas.css";
@import "./colorPalette.css";
@import "./download.css";

:root {
  --theme-body-color: rgba(0, 0, 0, 0);
  --theme-band-color: rgba(0, 0, 0, 0);
  --theme-border-color: #000;
}
