@import "./reset.css";
@import "./text.css";
@import "./header.css";
@import "./main.css";
@import "./avata.css";
@import "./canvas.css";

:root {
  --theme-body-color: #fff;
  --theme-band-color: #fff;
  --theme-border-color: #000;
}
